<!--The content below is only a placeholder and can be replaced.-->
<!--navigation-->

<nav class="navbar navbar-light fixed-top" id="mainNav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNavBar" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ezy Links</a>
    </div>
    <div class="navbar-collapse" id="mainNavBar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#howItWorks" >How It Works <span class="sr-only">(Current)</span></a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products<span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li><a href="#services">Cardless Transaction</a> </li>
            <li role="separator" class="divider"></li>
            <li><a href="#services">ATM Location Status</a> </li>
            <li role="separator" class="divider"></li>
            <li><a href="#services">Merchant Payment Gateway</a> </li>
            <li role="separator" class="divider"></li>
            <li><a href="#services">Freebie Scheme</a> </li>
          </ul>
        </li>
        <li><a href="#aboutUs">About Us</a> </li>
      </ul>
    </div>
  </div>
</nav>







<header class="masthead">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Digitizing India</h1>
      <hr>
      <p>An Initiative Towards Cardless Transactions!</p>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
    </div>
  </div>
</header>


<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto text-center">
        <h2 class="section-heading text-white">We've got what you need!</h2>
        <hr class="light">
        <p class="text-faded">We Provide a cardless way to withdraw money through ATMs. So, you don't have to worry about any card related frauds.<br><b>We care and respect your privacy.</b></p>
        <a class="btn btn-default btn-xl js-scroll-trigger" href="#portfolio">What 's MORE for ME</a>
      </div>
    </div>
  </div>
</section>


<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-money text-primary sr-icons"></i>
          <h3>CardLess Transaction</h3>
          <p class="text-muted">Transaction is now easy. Use our mobile app to withdraw cash from ATMs.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
          <h3>ATM current status.</h3>
          <p class="text-muted">Out of order ATM irritates you. Now by a single window know the working status of ATM ,with it's  location.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
          <h3>Merchant Gateway</h3>
          <p class="text-muted">Hardships in payement, Switch to our service which allows you to pay several people on a single click.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
          <h3>Freebie Scheme.</h3>
          <p class="text-muted">Get rewarded like never before, give small and take large number of goodies according to your interest.</p>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="p-0" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter popup-gallery" style="overflow-x:hidden">

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg">
          <img class="img-fluid" src="assets/img/portfolio/thumbnails/1.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Cardless Cash
              </div>
              <div class="project-name">
                Introducing the first in segment concept of cardless cash, so no worry about plastic cards and their passwords.
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg">
          <img class="img-fluid" src="assets/img/portfolio/thumbnails/2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Merchant Gateway
              </div>
              <div class="project-name">
                A one click payement solutions for merchants for paying their employees.
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg">
          <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
               DIGITIZING INDIA
              </div>
              <div class="project-name">
                Our solution is a step towards dizitization.
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg">
          <img class="img-fluid" src="assets/img/portfolio/thumbnails/4.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Freebie Scheme
              </div>
              <div class="project-name">
                A super cool reward and luck store to win exciting goodies in spending approx nothing.
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg">
          <img class="img-fluid" src="assets/img/portfolio/thumbnails/5.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Nearby ATM?
              </div>
              <div class="project-name">
                With Uptime Status , we also provide details of ATMs near you
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/6.jpg">
          <img class="img-fluid" src="assets/img/portfolio/thumbnails/6.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                User Friendly
              </div>
              <div class="project-name">
                Just , Check our App before visit to an ATM and
                You will never return dissapointed.
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<div class="call-to-action" style="background-color: #333333;color:white">
  <div class="container text-center">
    <h2 class="section-heading" id="howItWorks">How It Works</h2>
    <hr class="primary">
    <p>
      Cardless Transaction works on a user to bank interaction via an application which authenticates you to transact the money from the ATM.
      <BR><BR>
      ATM ststus and location will be directed by the app by which user can easily locate ATM present in 4km of range ,and know the status whether it is working or not.
      <BR><BR>
      Merchant payement solutions uses the concept of creating a single window for paying the employees in a single click.
      <BR><BR>
      Freebie scheme employs the concept of earning lots of rewards by investing small amount of money in which every user register himself for the
      scheme and will get a reward worth 10 times more than he invested.
    </p>
  </div>
</div>


<div class="call-to-action bg-dark">
  <div class="container text-center">
    <h2>Join Us , and Take an Inititative towards digitization.</h2>
    <a class="btn btn-default btn-xl sr-button">Android Apps would be available Soon!</a>
  </div>
</div>


<div id="aboutUs" class="call-to-action" style="background-color:#333333;color:white;">
  <div class="container text-center">
    <h2 class="section-heading">About Us</h2>
    <hr class="primary">
    <p>
      We are the emerging players in the field of innovation and transformation to make transaction more easier and comfortable for the crowd.<br>
      Adding up with a unique concept we had also integrated the freebie scheme which will really come out as a profit booster product and lastly a service of merchant payment solution. We have focused to emforce the <b>digital india mission</b>
      so as to develop India in path of digital country in future.
    </p>
  </div>
</div>


<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="primary">
        <p>We Need Investors to make this dream come true.You could Contact us Anytime! </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-phone fa-3x sr-contact"></i>
        <p>+91 9470982512 (Abhishek Kumar)</p>
        <p>+91 7209360877 (Ajay Kumar)</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p>
          <a href="mailto:ak007avisonu@gmail.com">How We Could Improve Us and make things Better</a>
        </p>
      </div>
    </div>
  </div>
</section>
